<app-card [showHeader]="false">
  <div class="flex align-item-center justify-content-between">
    <div class="f-16 f-w-600">Statut des demandes NIU</div>
    <a [matMenuTriggerFor]="menu" class="avatar avatar-s hover">
      <i class="ti ti-dots-vertical f-18"></i>
    </a>
    <mat-menu #menu="matMenu">
      <a mat-menu-item (click)="navigateToKycAll()">Voir toutes les demandes</a>
    </mat-menu>
  </div>

  <div id="chart" *ngIf="chartOptions">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [colors]="chartOptions.colors"
      [stroke]="chartOptions.stroke"
      [grid]="chartOptions.grid"
      [plotOptions]="chartOptions.plotOptions"
    ></apx-chart>
  </div>

  <div class="text-center">
    <span class="user-status bg-success-50 text-success-500 f-14">
      {{ todayRequests }} aujourd'hui
    </span>
    <p class="text-muted m-b-5">
      Progression des demandes traitées
    </p>

    <div class="row">
      <div class="col-4">
        <div class="summary-details">
          <p class="m-b-5 text-muted">Total</p>
          <div class="f-16 f-w-500">
            {{ totalRequests }}
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="summary-details">
          <p class="m-b-5 text-muted">Traitées</p>
          <div class="f-16 f-w-500">
            {{ processedRequests }}
            <i *ngIf="processedRequests > 0" class="ti ti-arrow-narrow-up text-success-500"></i>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="summary-details">
          <p class="m-b-5 text-muted">Aujourd'hui</p>
          <div class="f-16 f-w-500">
            {{ todayRequests }}
            <i *ngIf="todayRequests > 0" class="ti ti-arrow-narrow-up text-success-500"></i>
            <i *ngIf="todayRequests === 0" class="ti ti-minus text-muted"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>
