<div class="auth-main">
  <div class="auth-wrapper version-1">
    <div class="auth-form">
      <div class="auth-background">
        <div class="yellow-circle"></div>
        <div class="red-circle"></div>
      </div>
      <app-card [showHeader]="false" class="auth-form-card" padding="40">
        <!-- Logo -->
        <div class="forgot-logo">
          <a [routerLink]="['/']">
            <img src="assets/images/icon-logo.png" alt="logo" width="100"/>
          </a>
        </div>

        <!-- Titre et lien de retour -->
        <div class="check-me m-b-25">
          <h3 class="m-b-0">Mot de passe oublié</h3>
          <a class="text-primary-500" [routerLink]="['/']">
            Retour à la connexion
          </a>
        </div>

        <!-- Formulaire -->
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          <!-- Champ Email -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Entrer votre email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              required
            />
            @if (forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched) {
              <mat-error>{{ getErrorMessage() }}</mat-error>
            }
          </mat-form-field>

          <!-- Message d'information -->
          <p class="text-muted m-b-0 forgot-logo">
            N'oubliez pas de vérifier la boîte spam.
          </p>

          <!-- Bouton de soumission -->
          <div class="grid">
            <button
              mat-flat-button
              color="primary"
              class="forgot-password-btn b-rad-20 m-t-20"
              type="submit"
              [disabled]="forgotForm.invalid || isLoading"
            >
              @if (isLoading) {
                <div class="forgot-password-btn__container forgot-password-btn__container--loading">
                  <mat-spinner
                    diameter="20"
                    class="forgot-password-btn__spinner"
                  ></mat-spinner>
                  <span class="forgot-password-btn__text">Sending...</span>
                </div>
              } @else {
                <span class="forgot-password-btn__text">Send Password Reset Email</span>
              }
            </button>
          </div>
        </form>

        <!-- Messages d'état -->
        @if (message) {
          <mat-card class="mat-elevation-z0 success-message m-t-20">
            <mat-card-content>{{ message }}</mat-card-content>
          </mat-card>
        }

        @if (error) {
          <mat-card class="mat-elevation-z0 error-message m-t-20">
            <mat-card-content>{{ error }}</mat-card-content>
          </mat-card>
        }
      </app-card>
    </div>
  </div>
</div>
